#example cnf.dat Zoxenpher config file
#to override any default settings, create a file called cnf.dat in the
#usr subdirectory (the same one this file is in), then specify any desired
#options. not all options must be specified.
#examples shown here are using the default parameters.

#number of images to show in-line in menus. 0=disable
imgpreview=10

#max number of history items in menu windows
histsize=10

#desk width
deskw=800

#desk height
deskh=600


#font size for menus
menufontsize=15
#font jump for menus
menujump=15
#system font for menus. a monospace font is HIGHLY recommended.
menufont=mono

menuheight=460

#strazoloid frame style: (0=plain, 1=3D (without bevels), 2=3D (with bevels, default)
#plain is a sparse theme, and is based on strazoloid's original frame look, hence the different placement of buttons.
framestyle=2


#wallpaper (tiled automatically, should either be in 'usr' or 'vgop' directories)
bgtile=none
#included examples
#bgtile=tilebg.png
#bgtile=tilebg2.png
#bgtile=mascotbg.png
default wallpaper:
#bgtile=diagbg.png