#example cnf.dat Zoxenpher config file
#to override any default settings, create a file called cnf.dat in the
#usr subdirectory (the same one this file is in), then specify any desired
#options. not all options must be specified.
#examples shown here are using the default parameters.

#cnf types:
#[BOOL] yes/no, on/off, true/false, 1/0 are acceptable for these.
#[int] must specify a decimal integer.
#[string] specify a string with no enclosing marks. i.e. setting=string NOT setting="string"


#number of images to show in-line in menus. [int] 0=disable
imgpreview=10

#max number of history items in menu windows [int]
histsize=10

#desk width [int]
deskw=800

#desk height [int]
deskh=600

#Max zoom/image size for viewer [int] (larger images will be pre-shrunk down.)
viewzoom=2400

#webbrowser for 'h' types (web URLs) [string]
browser=none
#####examples
#browser=firefox
#browser=chrome


#font size for menus [int]
menufontsize=15
#font jump for menus [int]
menujump=15
#system font for menus. a monospace font is HIGHLY recommended. [string]
menufont=mono
#height for gopher menu windows [int]
menuheight=460

#strazoloid frame style: (0=plain, 1=3D (without bevels), 2=3D (with bevels, default)
#plain is a sparse theme, and is based on strazoloid's original frame look, hence the different placement of buttons.
framestyle=2

#strazoloid's fps setting. Lower values will not seem as smooth, but can help performance on older hardware. [int]
wmfps=30

#wallpaper (tiled automatically, should either be in 'usr' or 'vgop' directories) [string]
bgtile=none
#included examples
#bgtile=tilebg.png
#bgtile=tilebg2.png
#bgtile=mascotbg.png
default wallpaper:
#bgtile=diagbg.png


###Debug Settings###

#trace clickable menu/bookmark item rects [BOOL]
itemdebug=False
#setting to 'True' will cause clickable item rects in bookmarks/gopher menus to be traced in red.
